body {
 text-align: center;
 margin: 0;
 font-size: 1.25rem;
 font-family: Arial, Helvetica, sans-serif;
}

header {
 background-image: linear-gradient(#540375, #FFF);
}

nav {
 width: 21.875rem;
 margin: auto;
 padding: 3.125rem 0;
}

h1 {
 font-size: 2.5rem;
 color: #230D2D;
}

span {
 font-size: 9.375rem;
}

li{
 list-style: none;
 margin: .3125rem 0;
}
 ul{
  padding: 0;
 }

main {
 margin: 0 4.0625rem;
 display: grid;
 grid-template-columns: repeat(auto-fit, 25.625rem);
 justify-content: center;
 gap: 2.8125rem
}

h2{
 margin: 0;
 padding: 0.5rem 0;
 background-color: #FF7000;
}

article{
 background-color: #FFE7D4;
 color: #0A050C;
}
.semanas {
 display: flex;
 gap: 1rem;
 place-content: center;
 font-size: 1.5rem;
 margin: 0;
}

.espacamento {
 padding-top: 2rem;
}

section {
 display: flex;
 gap: 1rem;
}

.negrito {
 font-weight: bold;
}

.feriado, .ponto-facultativo{
 background-color: red;
 font-weight: bold;
 width: 2.1875rem;
 margin-left: auto;
 margin-right: auto;
}

.legenda-vermelha::before, .legenda-amarela::before {
 content: '';
 width: 20px;
 height: 20px;
 background-color: red;
 display: inline-block;
 margin-right: .3125rem;
}

.legenda-amarela::before {
 background-color: #FFBF00;
}

.ponto-facultativo{
 background-color: #FFBF00;
}

h3 {
 font-weight: lighter;
 color: #0A050C;
}

footer {
 background-color:#540375;
 margin-top: 35px;
}

footer h3 {
 padding: 2.5rem;
 margin-bottom: 0;
 color: #F9F3FC;
}

@media (max-width: 1009px) {
 nav {
  padding: 1rem 0;
 }
}

@media (max-width: 480px) {
 body {
  font-size: 1rem;
 }

 nav {
  width: 15.625rem;
  padding: 1rem 0;
 }

 h1 {
  font-size: 1.5625rem;
 }

 span {
  font-size: 4.6875rem;
 }

 main {
  grid-template-columns: repeat(auto-fit, 18.75rem);
  gap: 2.1875rem;
 }

 h2{
  padding: .3125rem 0;
 }

 .semanas {
  gap: .5rem;
  font-size: 1.25rem;
 }

 .espacamento {
  padding-top: 1.75rem;
 }

 .feriado, .ponto-facultativo{
  width: 25px;
 }

 .legenda-vermelha::before, .legenda-amarela::before {
  margin: 0 .3125rem;
  width: 15px;
  height: 15px;
 }

 footer h3 {
  padding: 1.5rem;
 }
}